<div class="backdrop is-hidden" data-team-modal>
    <div class="team-modal__window">
        <div class="team-modal__close-btn">
            <svg width="35" height="35">
                <use href="/src/images/sprite.svg#icon-close"></use>
            </svg>
        </div>
        <h2 class="team-modal__title">Developers in the dark</h2>
        <ul class="team-modal__list">
            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Volodymyr_Holotnyk.jpg" alt="Volodymyr Holotnyk" width="130" height="130"> 
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Volodymyr Holotnyk</h3>
                    <p class="team-modal__photo-description" lang="en">Team Lead</p>
                    <a class="team-modal__social-link" href="https://github.com/Golotniks94">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Oleksandr_Chernomorets.jpg" alt="Oleksandr Chernomorets" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Oleksandr Chernomorets</h3>
                    <p class="team-modal__photo-description" lang="en">Scrum Master</p>
                    <a class="team-modal__social-link" href="https://github.com/AlexanderChernomorets">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Sergii_Bilogolovyi.jpg" alt="Sergii Bilogolovyi" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Sergii Bilogolovyi</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/Belik1989">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Inna_Kukla.jpg" alt="Inna Kukla" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Inna Kukla</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/InnaKukla">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Viktor_Solomianiy.jpg" alt="Viktor Solomianiy" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Viktor Solomianiy</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/ViktorSolomianiy">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Andrii_Kostenko.jpg" alt="Andrii Kostenko" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Andrii Kostenko</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/Andruha0013">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Natalia_Gerasymova.jpg" alt="Natalia Gerasymova" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Natalia Gerasymova</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/Natalii-ng">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Maksim_Kozir.jpg" alt="Maksim Kozir" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Maksim Kozir</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/maxk3y">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Yuriy_Rysak.jpg" alt="Yuriy Rysak" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Yuriy Rysak</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/YuriyRysak">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Olya_Rozhniatovska.jpg" alt="Olya Rozhniatovska" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Olya Rozhniatovska</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/helgels">GitHub</a>
                </div>
            </li>

            <li class="team-modal__item">
                <img class="team-modal__photo" src="/src/images/team-photo/Ivan_Holovakha.jpg" alt="Ivan Holovakha" width="130" height="130">
                <div class="team-modal__thumb">
                    <h3 class="team-modal__photo-title">Ivan Holovakha</h3>
                    <p class="team-modal__photo-description" lang="en">Developer</p>
                    <a class="team-modal__social-link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

        </ul>
        
    </div>
</div>