<div class="backdrop is-hidden" data-modal>
    <div class="modal-window">
        <!-- <button type="button" class="modal-close-button" data-modal-close>
            <svg class="modal-close__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button> -->
        <h2 class="modal-title">Developers in the dark</h2>
        <ul class="team-section__list">
            <li class="team-section__item">
                <div class="image__ba">
                    <img class="team-photo" src="./images/Volodymyr_Holotnyk.jpg" alt="" srcset="">
                </div>
                <div class="team-section__thumb">
                    <h3 class="image-title">Volodymyr Holotnyk</h3>
                    <p class="image-description" lang="en">Team Lead</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Oleksandr_Chernomorets.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Oleksandr Chernomorets</h3>
                    <p class="image-description" lang="en">Scrum Master</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Sergii_Bilogolovyi.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Sergii Bilogolovyi</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Inna_Kukla.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Inna Kukla</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Viktor_Solomianiy.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Viktor Solomianiy</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Andrii_Kostenko.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Andrii Kostenko</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Natalia_Gerasymova.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Natalia Gerasymova</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Maksim_Kozir.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Maksim Kozir</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Yuriy_Rysak.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Yuriy Rysak</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Olya_Rozhniatovska.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Olya Rozhniatovska</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

            <li class="team-section__item">
                <img class="team-photo" src="./images/Ivan_Holovakha.jpg" alt="" srcset="">
                <div class="team-section__thumb">
                    <h3 class="image-title">Ivan Holovakha</h3>
                    <p class="image-description" lang="en">Developer</p>
                    <a class="social__link" href="https://github.com/IvanHolovakha">GitHub</a>
                </div>
            </li>

        </ul>
        
    </div>
</div>