<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        rel="stylesheet">
    
</head>

<header class="container--header header--library">
    <nav>
        <a class="logo link" href="./index.html">
            <svg widht="27px" height="27px" viewBox="0 0 100 100" aria-label="Logo" class="icon-logo">
                <use href="/src/images/sprite.svg#icon-film"></use>
            </svg><span class="logo--name">Filmoteka</span></a>
        <ul class="site-nav site-nav--main list">
            <li class="site-nav__item site-nav__item--main"><a
                    class="site-nav__link site-nav__link--main link"
                    href="/src/index.html">Home</a></li>
            <li class="site-nav__item site-nav__item--main"><a class="site-nav__link site-nav__link--main  site-nav__link--current link"
                    href="/src/library.html">Library</a></li>
        </ul>
    </nav>
    <div class="header-lib__btn-wrap">
        <button class="header-lib__btn header-lib__btn-watched header-lib__btn--current" id="watchedButton" value="false">Watched</button>
        <button class="header-lib__btn header-lib__btn-queue" id="queButton" value="false">Queue</button>
    </div>

</header>