.container--header {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;

    }
   
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}


header {
    width: 100%;
    height: 230px;
    background-image: url(/src/images/header-mob-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/header-mob-2x.png);
        }
    @media screen and (min-width: 768px) {
            height: 216px;
            background-image: url(/src/images/header-tabl-1x.png);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/src/images/header-tabl-2x.png);
                }

}
@media screen and (min-width: 1280px) {
    background-image: url(/src/images/header-desk-2x.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/header-desk-2x.png);
        }
}
}
.header--library {
  
        background-image: url(/src/images/library-mob-1x.jpg);
      
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/library-mob-2x.jpg);
        }
    
        @media screen and (min-width: 768px) {
            height: 216px;
            background-image: url(/src/images/library-tabl-1x.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/library-tabl-2x.jpg);
            }
    
        }
    
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/library-desk-1x.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/library-desk-1x.jpg);
            }
        }

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
      
}
.logo {
    display: flex;
    align-items: center;
    
  
}

.logo--name {
    display: none;
    @media screen and (min-width: 768px) {
        display:inline-block;
            
           
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 1.17;
              
                text-align: center;
            
                color: #FFFFFF;
                margin-left: 10px;
    }
}

.site-nav {
    display: flex;
    align-items: center;
}
.site-nav__link {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
  
}
.site-nav__link--current::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF001B;
}
.site-nav__item--main {
    margin-right: 40px;
    
        &:last-child {
            margin-right: 0px;
}
}
.form-search__input {
    min-width: 280px;
    background: none;
    margin: 0;
    border: none;
    color: white;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    border-bottom: 0.5px solid #FFFFFF;
    @media screen and (min-width: 768px) {
            min-width: 336px;
           
        }

}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: white;
      
}
.form-search__icon {
    position: relative;
    margin-top: 60px;
    max-width: 280px;
    @media screen and (min-width: 768px) {
            max-width: 336px;
            margin-left: auto;
                margin-right: auto;
        }
  
   
    
}
.form-search__icon_icon {
    position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        cursor: pointer;
        right: 0;
 
        
}
.auth-btn {
    display: inline-block;
        border-radius: 4px;
        padding: 5px 5px;
        min-width: 30px;
        border: 0.5px solid #FFFFFF;
        cursor: pointer;
        color: white;
        background: none;
        display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            text-align: center;
            text-transform: uppercase;
            margin-right: 10px;

}